<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_onepage_controller_success_action">
        <observer name="excellence_checkout_submit_all_after" instance="Excellence\Sms\Observer\CheckoutSubmitAllAfter" />
    </event>
</config>
